NODE_ENV=production
# Separate SQL Variables
SQL_HOST=
SQL_USER=
SQL_PASSWORD=
SQL_DB_NAME=
SQL_PORT=5432
DB_REQUIRE_SSL=true
DATABASE_URL=

GEMINI_API_KEY=
JWT_SECRET= # MUST BE CHANGED IN PRODUCTION
ACTUAL_SECRET= # MUST BE CHANGED IN PRODUCTION

CORS_ORIGINS=https://ravengard.com,https://admin.ravengard.com
PORT=3000
